{% for etchosts_entry in etchosts_file %}
{% if etchosts_entry.state is not defined or etchosts_entry.state == "present" %}
{{ etchosts_entry.ip }}{% for etchosts_name in etchosts_entry.hostname %} {{ etchosts_name }}{% endfor %}

{% endif %}
{% endfor %}
